.titulo2{
    color: #f72585;
    text-align: center;
}

.marco{
    width: 100%;
    height: 200px;
    border: 1px solid #f72585 ;
}

.centrar{
    text-align: center;
}

.boton{
    background-color: white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block; /*para que se respete el padding y el margen dentro de un div*/
    padding: 10px;
}

.boton:hover{
    background-color: #457b9d;
    color: white;
}

#titulo_principal{
    color: #f72585;
    text-align: center;
    margin: 15px;
}
h2{
    color:#3f37c9;
}
p{
    color:#457b9d;
}
/* Clase de CSS */
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 15px 100px;
    padding: 15px;
}

.titulo1{
    color: #f72585;
}

